<section class="mx-auto my-auto h-screen p-10 bg-slate-200">
    <div class="border-2 flex flex-col items-center justify-center h-full">
        <h1 class="font-bold m-3 text-3xl">BUDGETER</h1>
        <div class="flex items-center justify-around">
            <button class="bg-slate-700 hover:bg-slate-400 text-white font-bold py-2 px-4 m-3 rounded">
                <%= link_to "LOG IN", new_user_session_path %>
            </button>
            <button class="bg-slate-700 hover:bg-slate-400 text-white font-bold py-2 px-4 m-3 rounded">
                <%= link_to "SIGN UP", new_user_registration_path %>
            </button>
        </div>
    </div>
</section>