/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  --main-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100vh;
  background-color: #f0f2f1;
}

 .header {
  background-image: linear-gradient(to left, #2c67ab, #3a79c1);
  height: 10vh;
}

.bg-none {
  background: none;
  border: none;
  color: #fff;
}

 .back_btn img {
    width: 30px;
    height: 30px;
    color: #fff;
  }

.main-color {
  background-color: var(--main-color);
  color: #fff;
}