/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('Proxima-Nova.otf');
}

body {
  background-color: #f5f5f5;
}

h5 {
  font-family: "proxima-nova-bold", sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: "proxima-nova-light", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100vh;
  background-color: #f0f2f1;
}

.header {
  background-image: linear-gradient(to left, #2c67ab, #3a79c1);
  height: 10vh;
}

.bg-none {
  background: none;
  border: none;
  color: #fff;
}

.back_btn img {
  width: 30px;
  height: 30px;
  color: #fff;
}

.main-color {
  background-color: var(--main-color);
  color: #fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #f5f5f5;
}

.category-div {
  border: 1px solid #fff;
  background-color: #fff;
  width: 100%;
}

.category-img {
  width: 60px;
}

.notice {
  text-align: center;
  padding: 10px;
  color: #5fb523;
  font-weight: 300;
}

.row {
  display: grid;
  grid-template-columns: 1fr 11fr;
}
