
<section class="text-center">
    <div class="header d-flex align-items-center justify-content-between px-4">
        <div>
            <%= render "shared/navbar" %>
        </div>
        <h4 class="text-white"><%= link_to "Add Category", new_category_path, class: "text-white" %></h4>
    </div>
   

    <% if flash.notice %>
        <p><%= notice %></p>
    <% end %>

    <div class="bg-slate-400 h-3/4 m-10">
        <% @categories.each do |category| %>
            <%= render category %>
        <% end %>
    </div>
       
   
</section>