<section class="bg-slate-200 h-screen flex flex-col items-stretch justify-start">
    <header class="height-10 bg-slate-700 flex justify-between items-center px-10">
        <%= link_to image_tag("https://img.icons8.com/stickers/344/back.png"), categories_path, class: "back_btn" %>
        <h1 class="text-slate-200 font-bold text-2xl">New Category</h1>
    </header>

    <%= render "form", category: @category %>    
</section>
